@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');

body,
div {
    font-family: 'Nanum Myeongjo', serif;
}

/* navigation menu */
.navigation-bar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.nav-bar a {
    text-decoration: none;
    color: #000;
}

.nav-bar img {
    width: 50px;
    cursor: pointer;
}

.nav-bar img:hover {
    filter: drop-shadow(0px 0px 7px #000000);
}

.nav-bar a:hover {
    font-weight: 800;
}

/* navigation menu */

/* main */
.main {
    margin-top: 2rem;
}

/* main */